@model IEnumerable<Story.Data.AppUser>

@{
    ViewData["Title"] = "Yeni Kullanıcı";
}




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
          
           
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            
            <th>
                <p>
                    <a class="btn-outline-primary border-1" asp-action="Create">Yeni Kullanıcı Oluştur</a>
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
          

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
